parameter_defaults:
  DockerAodhApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-aodh-api:current-tripleo
  DockerAodhConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-aodh-api:current-tripleo
  DockerAodhEvaluatorImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-aodh-evaluator:current-tripleo
  DockerAodhListenerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-aodh-listener:current-tripleo
  DockerAodhNotifierImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-aodh-notifier:current-tripleo
  DockerBarbicanApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-api:current-tripleo
  DockerBarbicanConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-api:current-tripleo
  DockerBarbicanKeystoneListenerConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-keystone-listener:current-tripleo
  DockerBarbicanKeystoneListenerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-keystone-listener:current-tripleo
  DockerBarbicanWorkerConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-worker:current-tripleo
  DockerBarbicanWorkerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-barbican-worker:current-tripleo
  DockerCeilometerCentralImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ceilometer-central:current-tripleo
  DockerCeilometerComputeImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ceilometer-compute:current-tripleo
  DockerCeilometerConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ceilometer-central:current-tripleo
  DockerCeilometerIpmiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ceilometer-ipmi:current-tripleo
  DockerCeilometerNotificationImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ceilometer-notification:current-tripleo
  DockerCephDaemonImage: {{ register_server }}:{{ registry_port }}/ceph/daemon:v3.1.0-stable-3.1-luminous-centos-7-x86_64
  DockerCinderApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cinder-api:current-tripleo
  DockerCinderBackupImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cinder-backup:current-tripleo
  DockerCinderConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cinder-api:current-tripleo
  DockerCinderSchedulerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cinder-scheduler:current-tripleo
  DockerCinderVolumeImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cinder-volume:current-tripleo
  DockerClustercheckConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerClustercheckImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerCollectdConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-collectd:current-tripleo
  DockerCollectdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-collectd:current-tripleo
  DockerCongressApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-congress-api:current-tripleo
  DockerCongressConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-congress-api:current-tripleo
  DockerCrondConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cron:current-tripleo
  DockerCrondImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-cron:current-tripleo
  DockerDesignateApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-api:current-tripleo
  DockerDesignateBackendBIND9Image: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-backend-bind9:current-tripleo
  DockerDesignateCentralImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-central:current-tripleo
  DockerDesignateConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-worker:current-tripleo
  DockerDesignateMDNSImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-mdns:current-tripleo
  DockerDesignateProducerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-producer:current-tripleo
  DockerDesignateSinkImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-sink:current-tripleo
  DockerDesignateWorkerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-designate-worker:current-tripleo
  DockerEc2ApiConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ec2-api:current-tripleo
  DockerEc2ApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ec2-api:current-tripleo
  DockerEtcdConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-etcd:current-tripleo
  DockerEtcdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-etcd:current-tripleo
  DockerFluentdClientImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerFluentdConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerFluentdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerGlanceApiConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-glance-api:current-tripleo
  DockerGlanceApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-glance-api:current-tripleo
  DockerGnocchiApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-gnocchi-api:current-tripleo
  DockerGnocchiConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-gnocchi-api:current-tripleo
  DockerGnocchiMetricdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-gnocchi-metricd:current-tripleo
  DockerGnocchiStatsdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-gnocchi-statsd:current-tripleo
  DockerHAProxyConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-haproxy:current-tripleo
  DockerHAProxyImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-haproxy:current-tripleo
  DockerHeatApiCfnConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-api-cfn:current-tripleo
  DockerHeatApiCfnImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-api-cfn:current-tripleo
  DockerHeatApiConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatEngineImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-heat-engine:current-tripleo
  DockerHorizonConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-horizon:current-tripleo
  DockerHorizonImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-horizon:current-tripleo
  DockerIronicApiConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-api:current-tripleo
  DockerIronicApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-api:current-tripleo
  DockerIronicConductorImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-conductor:current-tripleo
  DockerIronicConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-pxe:current-tripleo
  DockerIronicInspectorConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-inspector:current-tripleo
  DockerIronicInspectorImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-inspector:current-tripleo
  DockerIronicNeutronAgentImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-neutron-agent:current-tripleo
  DockerIronicPxeImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-ironic-pxe:current-tripleo
  DockerIscsidConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-iscsid:current-tripleo
  DockerIscsidImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-iscsid:current-tripleo
  DockerKeepalivedConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-keepalived:current-tripleo
  DockerKeepalivedImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-keepalived:current-tripleo
  DockerKeystoneConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-keystone:current-tripleo
  DockerKeystoneImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-keystone:current-tripleo
  DockerManilaApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-manila-api:current-tripleo
  DockerManilaConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-manila-api:current-tripleo
  DockerManilaSchedulerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-manila-scheduler:current-tripleo
  DockerManilaShareImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-manila-share:current-tripleo
  DockerMemcachedConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-memcached:current-tripleo
  DockerMemcachedImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-memcached:current-tripleo
  DockerMetricsQdrConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerMetricsQdrImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerMistralApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mistral-api:current-tripleo
  DockerMistralConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mistral-api:current-tripleo
  DockerMistralEngineImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mistral-engine:current-tripleo
  DockerMistralEventEngineImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mistral-event-engine:current-tripleo
  DockerMistralExecutorImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mistral-executor:current-tripleo
  DockerMultipathdConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-multipathd:current-tripleo
  DockerMultipathdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-multipathd:current-tripleo
  DockerMysqlClientConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerMysqlConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerMysqlImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerNeutronApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-server:current-tripleo
  DockerNeutronConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-server:current-tripleo
  DockerNeutronDHCPImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-dhcp-agent:current-tripleo
  DockerNeutronL3AgentImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-l3-agent:current-tripleo
  DockerNeutronMetadataImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-metadata-agent:current-tripleo
  DockerNeutronSriovImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-sriov-agent:current-tripleo
  DockerNovaApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaComputeImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-compute:current-tripleo
  DockerNovaComputeIronicImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-compute-ironic:current-tripleo
  DockerNovaConductorImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-conductor:current-tripleo
  DockerNovaConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaConsoleauthImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-consoleauth:current-tripleo
  DockerNovaLibvirtConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-compute:current-tripleo
  DockerNovaLibvirtImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-libvirt:current-tripleo
  DockerNovaMetadataConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaMetadataImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaPlacementConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-placement-api:current-tripleo
  DockerNovaPlacementImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-placement-api:current-tripleo
  DockerNovaSchedulerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-scheduler:current-tripleo
  DockerNovaVncProxyImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-nova-novncproxy:current-tripleo
  DockerNovajoinConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-novajoin-server:current-tripleo
  DockerNovajoinNotifierImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-novajoin-notifier:current-tripleo
  DockerNovajoinServerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-novajoin-server:current-tripleo
  DockerOctaviaApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-octavia-api:current-tripleo
  DockerOctaviaConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-octavia-api:current-tripleo
  DockerOctaviaHealthManagerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-octavia-health-manager:current-tripleo
  DockerOctaviaHousekeepingImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-octavia-housekeeping:current-tripleo
  DockerOctaviaWorkerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-octavia-worker:current-tripleo
  DockerOpenShiftAnsibleImage: {{ register_server }}:{{ registry_port }}/openshift/origin-ansible:v3.10.0
  DockerOpenShiftBaseImage: {{ register_server }}:{{ registry_port }}/openshift/origin:v3.10.0
  DockerOpenShiftCockpitImage: {{ register_server }}:{{ registry_port }}/cockpit/kubernetes:latest
  DockerOpenShiftDeployerImage: {{ register_server }}:{{ registry_port }}/openshift/origin-deployer:v3.10.0
  DockerOpenShiftDockerBuilderImage: {{ register_server }}:{{ registry_port }}/openshift/origin-docker-builder:v3.10.0
  DockerOpenShiftDockerRegistryImage: {{ register_server }}:{{ registry_port }}/openshift/origin-docker-registry:v3.10.0
  DockerOpenShiftEtcdImage: {{ register_server }}:{{ registry_port }}/latest/etcd:latest
  DockerOpenShiftGlusterFSBlockImage: {{ register_server }}:{{ registry_port }}/gluster/glusterblock-provisioner:latest
  DockerOpenShiftGlusterFSHeketiImage: {{ register_server }}:{{ registry_port }}/heketi/heketi:latest
  DockerOpenShiftGlusterFSImage: {{ register_server }}:{{ registry_port }}/gluster/gluster-centos:latest
  DockerOpenShiftHAProxyRouterImage: {{ register_server }}:{{ registry_port }}/openshift/origin-haproxy-router:v3.10.0
  DockerOpenShiftNodeImage: {{ register_server }}:{{ registry_port }}/openshift/node:v3.10.0
  DockerOpenShiftPodImage: {{ register_server }}:{{ registry_port }}/openshift/origin-pod:v3.10.0
  DockerOpenShiftWebConsoleImage: {{ register_server }}:{{ registry_port }}/openshift/origin-web-console:v3.10.0
  DockerOpenvswitchImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-neutron-openvswitch-agent:current-tripleo
  DockerPankoApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-panko-api:current-tripleo
  DockerPankoConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-panko-api:current-tripleo
  DockerQdrouterdConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerQdrouterdImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerRabbitmqConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-rabbitmq:current-tripleo
  DockerRabbitmqImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-rabbitmq:current-tripleo
  DockerRedisConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-redis:current-tripleo
  DockerRedisImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-redis:current-tripleo
  DockerRsyslogSidecarConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-rsyslog-base:current-tripleo
  DockerRsyslogSidecarImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-rsyslog-base:current-tripleo
  DockerSaharaApiImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-sahara-api:current-tripleo
  DockerSaharaConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-sahara-api:current-tripleo
  DockerSaharaEngineImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-sahara-engine:current-tripleo
  DockerSensuClientImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-sensu-client:current-tripleo
  DockerSensuConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-sensu-client:current-tripleo
  DockerSkydiveAgentImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-skydive-agent:current-tripleo
  DockerSkydiveAnalyzerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-skydive-analyzer:current-tripleo
  DockerSwiftAccountImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-swift-account:current-tripleo
  DockerSwiftConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-swift-proxy-server:current-tripleo
  DockerSwiftContainerImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-swift-container:current-tripleo
  DockerSwiftObjectImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-swift-object:current-tripleo
  DockerSwiftProxyImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-swift-proxy-server:current-tripleo
  DockerTempestImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-tempest:current-tripleo
  DockerTripleoUIConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-tripleo-ui:current-tripleo
  DockerTripleoUIImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-tripleo-ui:current-tripleo
  DockerZaqarConfigImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-zaqar:current-tripleo
  DockerZaqarImage: {{ register_server }}:{{ registry_port }}/tripleorocky/centos-binary-zaqar:current-tripleo
