parameter_defaults:
  DockerAodhApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-aodh-api:current-tripleo
  DockerAodhConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-aodh-api:current-tripleo
  DockerAodhEvaluatorImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-aodh-evaluator:current-tripleo
  DockerAodhListenerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-aodh-listener:current-tripleo
  DockerAodhNotifierImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-aodh-notifier:current-tripleo
  DockerBarbicanApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-api:current-tripleo
  DockerBarbicanConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-api:current-tripleo
  DockerBarbicanKeystoneListenerConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-keystone-listener:current-tripleo
  DockerBarbicanKeystoneListenerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-keystone-listener:current-tripleo
  DockerBarbicanWorkerConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-worker:current-tripleo
  DockerBarbicanWorkerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-barbican-worker:current-tripleo
  DockerCeilometerCentralImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ceilometer-central:current-tripleo
  DockerCeilometerComputeImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ceilometer-compute:current-tripleo
  DockerCeilometerConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ceilometer-central:current-tripleo
  DockerCeilometerIpmiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ceilometer-ipmi:current-tripleo
  DockerCeilometerNotificationImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ceilometer-notification:current-tripleo
  DockerCephDaemonImage: {{ registry_server }}:{{ registry_port }}/docker.io/ceph/daemon:v3.1.0-stable-3.1-luminous-centos-7-x86_64
  DockerCinderApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cinder-api:current-tripleo
  DockerCinderBackupImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cinder-backup:current-tripleo
  DockerCinderConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cinder-api:current-tripleo
  DockerCinderSchedulerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cinder-scheduler:current-tripleo
  DockerCinderVolumeImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cinder-volume:current-tripleo
  DockerClustercheckConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerClustercheckImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerCollectdConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-collectd:current-tripleo
  DockerCollectdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-collectd:current-tripleo
  DockerCongressApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-congress-api:current-tripleo
  DockerCongressConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-congress-api:current-tripleo
  DockerCrondConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cron:current-tripleo
  DockerCrondImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-cron:current-tripleo
  DockerDesignateApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-api:current-tripleo
  DockerDesignateBackendBIND9Image: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-backend-bind9:current-tripleo
  DockerDesignateCentralImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-central:current-tripleo
  DockerDesignateConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-worker:current-tripleo
  DockerDesignateMDNSImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-mdns:current-tripleo
  DockerDesignateProducerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-producer:current-tripleo
  DockerDesignateSinkImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-sink:current-tripleo
  DockerDesignateWorkerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-designate-worker:current-tripleo
  DockerEc2ApiConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ec2-api:current-tripleo
  DockerEc2ApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ec2-api:current-tripleo
  DockerEtcdConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-etcd:current-tripleo
  DockerEtcdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-etcd:current-tripleo
  DockerFluentdClientImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerFluentdConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerFluentdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-fluentd:current-tripleo
  DockerGlanceApiConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-glance-api:current-tripleo
  DockerGlanceApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-glance-api:current-tripleo
  DockerGnocchiApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-gnocchi-api:current-tripleo
  DockerGnocchiConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-gnocchi-api:current-tripleo
  DockerGnocchiMetricdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-gnocchi-metricd:current-tripleo
  DockerGnocchiStatsdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-gnocchi-statsd:current-tripleo
  DockerHAProxyConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-haproxy:current-tripleo
  DockerHAProxyImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-haproxy:current-tripleo
  DockerHeatApiCfnConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-api-cfn:current-tripleo
  DockerHeatApiCfnImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-api-cfn:current-tripleo
  DockerHeatApiConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-api:current-tripleo
  DockerHeatEngineImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-heat-engine:current-tripleo
  DockerHorizonConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-horizon:current-tripleo
  DockerHorizonImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-horizon:current-tripleo
  DockerIronicApiConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-api:current-tripleo
  DockerIronicApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-api:current-tripleo
  DockerIronicConductorImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-conductor:current-tripleo
  DockerIronicConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-pxe:current-tripleo
  DockerIronicInspectorConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-inspector:current-tripleo
  DockerIronicInspectorImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-inspector:current-tripleo
  DockerIronicNeutronAgentImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-neutron-agent:current-tripleo
  DockerIronicPxeImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-ironic-pxe:current-tripleo
  DockerIscsidConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-iscsid:current-tripleo
  DockerIscsidImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-iscsid:current-tripleo
  DockerKeepalivedConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-keepalived:current-tripleo
  DockerKeepalivedImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-keepalived:current-tripleo
  DockerKeystoneConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-keystone:current-tripleo
  DockerKeystoneImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-keystone:current-tripleo
  DockerManilaApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-manila-api:current-tripleo
  DockerManilaConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-manila-api:current-tripleo
  DockerManilaSchedulerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-manila-scheduler:current-tripleo
  DockerManilaShareImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-manila-share:current-tripleo
  DockerMemcachedConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-memcached:current-tripleo
  DockerMemcachedImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-memcached:current-tripleo
  DockerMetricsQdrConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerMetricsQdrImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerMistralApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mistral-api:current-tripleo
  DockerMistralConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mistral-api:current-tripleo
  DockerMistralEngineImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mistral-engine:current-tripleo
  DockerMistralEventEngineImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mistral-event-engine:current-tripleo
  DockerMistralExecutorImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mistral-executor:current-tripleo
  DockerMultipathdConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-multipathd:current-tripleo
  DockerMultipathdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-multipathd:current-tripleo
  DockerMysqlClientConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerMysqlConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerMysqlImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-mariadb:current-tripleo
  DockerNeutronApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-server:current-tripleo
  DockerNeutronConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-server:current-tripleo
  DockerNeutronDHCPImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-dhcp-agent:current-tripleo
  DockerNeutronL3AgentImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-l3-agent:current-tripleo
  DockerNeutronMetadataImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-metadata-agent:current-tripleo
  DockerNeutronSriovImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-sriov-agent:current-tripleo
  DockerNovaApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaComputeImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-compute:current-tripleo
  DockerNovaComputeIronicImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-compute-ironic:current-tripleo
  DockerNovaConductorImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-conductor:current-tripleo
  DockerNovaConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaConsoleauthImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-consoleauth:current-tripleo
  DockerNovaLibvirtConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-compute:current-tripleo
  DockerNovaLibvirtImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-libvirt:current-tripleo
  DockerNovaMetadataConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaMetadataImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-api:current-tripleo
  DockerNovaPlacementConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-placement-api:current-tripleo
  DockerNovaPlacementImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-placement-api:current-tripleo
  DockerNovaSchedulerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-scheduler:current-tripleo
  DockerNovaVncProxyImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-nova-novncproxy:current-tripleo
  DockerNovajoinConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-novajoin-server:current-tripleo
  DockerNovajoinNotifierImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-novajoin-notifier:current-tripleo
  DockerNovajoinServerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-novajoin-server:current-tripleo
  DockerOctaviaApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-octavia-api:current-tripleo
  DockerOctaviaConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-octavia-api:current-tripleo
  DockerOctaviaHealthManagerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-octavia-health-manager:current-tripleo
  DockerOctaviaHousekeepingImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-octavia-housekeeping:current-tripleo
  DockerOctaviaWorkerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-octavia-worker:current-tripleo
  DockerOpenShiftAnsibleImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-ansible:v3.10.0
  DockerOpenShiftBaseImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin:v3.10.0
  DockerOpenShiftCockpitImage: {{ registry_server }}:{{ registry_port }}/docker.io/cockpit/kubernetes:latest
  DockerOpenShiftDeployerImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-deployer:v3.10.0
  DockerOpenShiftDockerBuilderImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-docker-builder:v3.10.0
  DockerOpenShiftDockerRegistryImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-docker-registry:v3.10.0
  DockerOpenShiftEtcdImage: {{ registry_server }}:{{ registry_port }}/registry.fedoraproject.org/latest/etcd:latest
  DockerOpenShiftGlusterFSBlockImage: {{ registry_server }}:{{ registry_port }}/docker.io/gluster/glusterblock-provisioner:latest
  DockerOpenShiftGlusterFSHeketiImage: {{ registry_server }}:{{ registry_port }}/docker.io/heketi/heketi:latest
  DockerOpenShiftGlusterFSImage: {{ registry_server }}:{{ registry_port }}/docker.io/gluster/gluster-centos:latest
  DockerOpenShiftHAProxyRouterImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-haproxy-router:v3.10.0
  DockerOpenShiftNodeImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/node:v3.10.0
  DockerOpenShiftPodImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-pod:v3.10.0
  DockerOpenShiftWebConsoleImage: {{ registry_server }}:{{ registry_port }}/docker.io/openshift/origin-web-console:v3.10.0
  DockerOpenvswitchImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-neutron-openvswitch-agent:current-tripleo
  DockerPankoApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-panko-api:current-tripleo
  DockerPankoConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-panko-api:current-tripleo
  DockerQdrouterdConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerQdrouterdImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-qdrouterd:current-tripleo
  DockerRabbitmqConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-rabbitmq:current-tripleo
  DockerRabbitmqImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-rabbitmq:current-tripleo
  DockerRedisConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-redis:current-tripleo
  DockerRedisImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-redis:current-tripleo
  DockerRsyslogSidecarConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-rsyslog-base:current-tripleo
  DockerRsyslogSidecarImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-rsyslog-base:current-tripleo
  DockerSaharaApiImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-sahara-api:current-tripleo
  DockerSaharaConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-sahara-api:current-tripleo
  DockerSaharaEngineImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-sahara-engine:current-tripleo
  DockerSensuClientImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-sensu-client:current-tripleo
  DockerSensuConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-sensu-client:current-tripleo
  DockerSkydiveAgentImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-skydive-agent:current-tripleo
  DockerSkydiveAnalyzerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-skydive-analyzer:current-tripleo
  DockerSwiftAccountImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-swift-account:current-tripleo
  DockerSwiftConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-swift-proxy-server:current-tripleo
  DockerSwiftContainerImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-swift-container:current-tripleo
  DockerSwiftObjectImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-swift-object:current-tripleo
  DockerSwiftProxyImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-swift-proxy-server:current-tripleo
  DockerTempestImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-tempest:current-tripleo
  DockerTripleoUIConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-tripleo-ui:current-tripleo
  DockerTripleoUIImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-tripleo-ui:current-tripleo
  DockerZaqarConfigImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-zaqar:current-tripleo
  DockerZaqarImage: {{ registry_server }}:{{ registry_port }}/docker.io/tripleorocky/centos-binary-zaqar:current-tripleo
